/*
	@theme Cobalt
	@override-placeholders html, xml, php, css, js, html-php, sql
	@author Dmitry Loac
	@version 1.1
	@Based on the Cobalt theme for TextMate
*/

@base {
	color: #ffffff;
	background-color: #012f50;
	insertion-point-color: #ffffff;
	selection-background-color: #8f654e;
	current-line-background-color: #001e34;
}

tag, 
source, 
sourcecode {
	spell-check: disabled;
}

string,
string > tag,
string > tag > name,
string > tag > attribute-name,
string > tag > attribute-value,
string > tag > attribute-value > punctuation {
	color: #4fda22;
  font-weight: normal;
	background: none;
}

numeric {
  color: #fe7c9e;
}

comment,
comment > punctuation,
comment > delimiter { 
  color: #10a0fd;
  font-style: italic;
}
metadata.comment.phpDoc.keyword {
  color: #fe9220;
}

tag > name,
tag > attribute-name,
tag.doctype {
	color: #affefe;
}
tag.style > name,
tag.style > attribute-name,
tag.script > name,
tag.script > attribute-name {
  color: #ffdf2b;
}

character.entity {
  color: #fe7c9e;
}
character.entity > punctuation {
  color: #ffffff;
}

operator {
	color: #fe9220;
}

if,
keyword {
	color: #fe9220;
}

function > name {
	color: #ffdf2b;
	font-weight: normal;
}

function.support {
  color: #febc6c;
}
identifier.function {
	color: #ffee97;
}
identifier.function.support > name {
  color: #febc6c;
}

/* CSS */

css property-name {
  color: #aef1b1;
}
css property-value {
  color: #f8f096;
}
css property-value punctuation {
  color: #ffffff;
}
css property-value zunit {
  color: #fe9220;
}
css selector {
  color: #affefe;
}

/* JavaScript */

js storage {
  color: #ffee97;
}
js variable {
  color: #fe9be6;
}
js constant {
  color: #fe7c9e;
}
js support.class {
  color: #aef1b1;
}
js support.function {
  color: #febc6c;
}
js function variable {
  color: #d6d6d6;
}
js delimiter.parenthesis {
  color: #ffffff;
}

jQuery selector name {
	color: #4fda22;
}
jQuery selector operator {
	color: #94fbc8;
}

/* PHP */

php keyword.definition.php {
  color: #ffffff;
}

php keyword.function {
  color: #ffee97;
}

php keyword.bool {
  color: #fe7c9e;
  font-weight: normal;
}

php numeric {
  color: #fe7c9e;
  background-color: #012f50;
}

php keyword.modifier,
php literal.keyword.constant,
php keyword.constant.other,
php keyword.definition {
  color: #febc6c;
  font-weight: normal;
}

php if > delimiter,
php if > sub-expression,
php delimiter.balanced.parenthesis,
php function.parenthesis-delimited > delimiter,
php identifier.function > delimiter {
	color: #ffffff;
}

php identifier.variable.parameter > variable.delimiter.begin,
php identifier.variable > operator.dollar-sign.variable.begin {
  color: #ffffff;
}
php function.parenthesis-delimited {
  color: #ffee97;
}
php identifier.variable,
php identifier.variable.parameter {
  color: #d6d6d6;
}

php class.current name {
  color: #ffdf2b;
}
php class.extended name {
  color: #95fbfe;
  font-style: italic;
}
php class.implemented name {
  color: #94fbc8;
}
php class keyword.scope,
php class keyword.class,
php class keyword.implemented {
  color: #ffee97;
}

php sql operator,
php sql control {
  color: #94fbc8;
}

/* SQL */

sql operator {
  color: #ffffff;
}
sql control {
  color: #fe9220;
}
sql control.modifiers {
  color: #ffee97;
}
sql function entity {
	color: #4fda22;
}
sql storage {
	color: #ffee97;
}
